body {
    margin: 20rpx;
}

h1 {
    font-size: 48px;
    text-align: center;
}

.title h2 {
    display: inline;
}

a {
    text-decoration: none;
}

.content-menu {
    display: grid;
    grid-template-columns: 300px auto;
}

.content-menu ol {
    display: inline;
    font-size: 20px;
}

.content-menu li {
    margin: 10px;
}

@media (max-width: 800px) {
    .content-menu {
        display: block;
    }
    .content-menu ol {
        display: block;
    }
    .content-menu li {
        margin: 0px;
    }
}