body {
    margin: 20rpx;
}

h1 {
    font-size: 48px;
    text-align: center;
}

a {
    text-decoration: none;
}

ol {
    display: inline;
    font-size: 20px;
}

.content-menu {
    display: grid;
    grid-template-columns: 200px auto;
}